/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --color-decoration: #ff8dcb;
  --color-bg: #fff1f7;
  --color-title: #ffc2e6;
  --color-text: #353430;
  --color-text-accent: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --border-decor: 1px solid var(--color-text);
  --border-button: 1px solid rgb(255 0 112 / 0.4);
  --border-hover: 1px solid rgb(50 49 45 / 0.4);
  --border-focus: 1px solid var(--color-text-accent);
  --border-anchor: 1px solid var(--color-text);
}

.page.theme_light .decorated-item {
  display: none;
}

.page {
  background-color: var(--color-bg);
  background-image: var(--bg-image);
}

.page.theme_light .header::before {
  background-image: none;
  filter: none;
}

.page.theme_light .header__theme-menu-item {
  color: var(--color-text);
}

.page.theme_light .title-decor {
  color: var(--color-text);
}

.page.theme_light .title__section {
  color: var(--color-text);
}

@media (prefers-color-scheme: light) {

  :root {
    --color-decoration: #ff8dcb;
    --color-bg: #fff1f7;
    --color-title: #ffc2e6;
    --color-text: #353430;
    --color-text-accent: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --font-main: 'IBM Plex mono';
    --font-size-normal: 1.125rem;
    --border-decor: 1px solid var(--color-text);
    --border-button: 1px solid rgb(255 0 112 / 0.4);
    --border-hover: 1px solid rgb(50 49 45 / 0.4);
    --border-focus: 1px solid var(--color-text-accent);
    --border-anchor: 1px solid var(--color-text);
  }

  .decorated-item {
    display: none;
  }

  .page {
    background-color: var(--color-bg);
    background-image: var(--bg-image);
  }

  .header::before {
    background-image: none;
    filter: none;
  }

  .header__theme-menu-item {
    color: var(--color-text);
  }

  .title-decor {
    color: var(--color-text);
  }

  .title__section {
    color: var(--color-text);
  }
}
